REDIS_PASSWORD=you-redis-password
MONGO_DB=monogo-database-name
DEFAULT_USER_ADMIN_USERNAME=admin
DEFAULT_USER_ADMIN_PASSWORD=admin
DEFAULT_USER_APPROVER_USERNAME=approver
DEFAULT_USER_APPROVER_PASSWORD=approver
DEFAULT_USER_SUBMITTER_USERNAME=submitter
DEFAULT_USER_SUBMITTER_PASSWORD=submitter
SALT_ROUNDS=10
AI_MODEL_NAME=llama3